h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
h3{
    font-size:40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
h4{
    font-size: 40px;
    text-align: center; 
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

body{
    background-color: #305c52;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff
}

p {
    padding-bottom: 20px;
    line-height: 2rem;
    width: 60%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

img{
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding:4px;
    border:6px solid tan;
}

ul{
    padding-bottom: 20px;
    line-height: 2rem;
    font-size: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

ol{
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2rem;
    font-size: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

  hr {
    border-style: none;
    border-top-style: double;
    height: 0;
    width: 40%;
    border-width: 12px;
    border-top-color: #50a28f;
  }
article.info{
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
footer {
    background-color: #50a28f;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  .intro h2{
      font-style: italic;
  }

  #myIntro h2{
      color: tan
  }